# Ignorar todas las carpetas target de Maven
**/target/

# Ignorar archivos de configuración de NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# Ignorar archivos compilados de Java
*.class
